body {
    border-top: 1px solid #eee;
    padding: 0;
    margin: 0;
    min-width: 50em;
    min-height: 40em;
}

#key {
    width: 30px !important;
}

select {
    display: block;
}

input[type="number"],
input[type="text"],
select {
    border-radius: 3px;
    border: 2px solid #ccc;
    padding: 4px;
}

input[type="number"]:focus,
input[type="text"]:focus,
select:focus {
    border-color: #0a64ec;
}

form {
    padding: 0px 20px 20px 20px;
}

input[type="number"]:invalid {
    border-color: red;
}

button {
    background: #eee;
    border: 1px solid #999;
    padding: 8px 10px;
    color: #333;
    font-weight: normal;
    font-size: 11px;
    border-radius: 3px;
    margin-top: 20px;
}

button:hover,
button:active,
button:focus {
    background: #0a64ec;
    border-color: #0a64ec;
    color: white;
}

#success {
    /* display: none; */
    padding: 18px;
    border-radius: 3px;
    color: white;
    margin: 15px 0;
    display: none;
    font-weight: normal;
    font-size: 13px;
    font-family: sans-serif;
    opacity: 0;
    transition: opacity 0.6s;
    background: #4CAF50;
    /* 600ms to fade out */

}

.closeButton {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closeButton:hover {
    color: black;
}
